@media ( max-width :515px) {
    h1{
        font-size: 1.5rem;

    }
    #logo{
        font-size: 2rem;
    }
}
@media ( max-width :500px) {
    header > div, footer > div, #content{
        min-width: 100%;
        max-width: 100%;
    }
    .text{
        display: none;
    }
}
@media (min-width: 501px) and (max-width :1010px) {
    header > div, footer > div, #content{
        min-width: 80%;
        max-width: 80%;
    }
}
@media (min-width: 1011px) and (max-width :1500px) {
    header > div, footer > div, #content{
        min-width: 60%;
        max-width: 60%;
    }
}
@media ( max-width :1010px) {
    #gazouiller-text{
        display: none;
    }
    #gazouiller{
        right: 10%;
        padding: 0.4rem 0.5rem 0.7rem 0.9rem;
    }
}