<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{{ path('app_register') }}">Inscription</a>
<a href="{{ path('app_login') }}">Connexion</a>
</body>
</html>
